@model Web.Models.Tables.Room


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Room Information</h2>
    </div>s
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RoomName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomName)
            </dd>

        </dl>

        <p>
            @Ajax.ActionLink("Edit", "Edit", "Room", new { id = Model.RoomId }, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-info" }) |
            @Ajax.ActionLink("Back", "Index", "Room", null, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default" })
        </p>

    </div>
</div>