@using PagedList.Mvc
@model PagedList.IPagedList<Web.Models.Tables.Teacher>

@using (Ajax.BeginForm("Index", "Teacher", new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }))
{
    <p>
        Find by name: @Html.TextBox("searchString", ViewBag.TeacherFilter as string, new { @class = "form-control" })
    </p>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Teacher List @Ajax.ActionLink(" ", "Create", "Teacher", null, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-plus" })</h2>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            First name
                        </th>
                        <th>
                            Last name
                        </th>
                        <th>
                            MI
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    @Ajax.ActionLink("Edit", "Edit", "Teacher", new { id = item.TeacherId }, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-info" })
                                    @Ajax.ActionLink("Details", "Details", "Teacher", new { id = item.TeacherId }, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-primary" })
                                    @Ajax.ActionLink("Delete", "Delete", "Teacher", new { id = item.TeacherId }, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-danger" })
                                    @Ajax.ActionLink("Schedule", "Schedule", "Teacher", new { id = item.TeacherId }, new AjaxOptions { UpdateTargetId = "ajaxDetails", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "btn btn-default" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.TeacherFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "ajaxDetails", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }))
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
